<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Movement</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateMovement()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <div *ngIf="isLoading" text-center>
            <ion-spinner color="primary"></ion-spinner>
          </div>
          <ion-item>
            <ion-label position="floating">
              Movement type
            </ion-label>
            <ion-select
              placeholder="Select a movement type"
              formControlName="type"
              required
            >
              <ion-select-option value="expense">Expense</ion-select-option>
              <ion-select-option value="income">Income</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">
              Category
            </ion-label>
            <ion-input
              type="text"
              (click)="onPickCategory()"
              placeholder="Select a category"
              formControlName="category"
              readonly
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">
              Description
            </ion-label>
            <ion-input type="text" formControlName="description" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">
              Value
            </ion-label>
            <ion-input type="number" formControlName="value" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size-sm="12">
          <ion-item>
            <ion-label position="floating">Date</ion-label>
            <ion-datetime
              display-format="DD-MM-YYYY"
              picker-format="DD MM YYYY"
              formControlName="date"
              required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size-sm="12">
          <ion-button
            color="danger"
            expand="block"
            shape="round"
            (click)="onDeleteMovement()"
          >
            <ion-icon slot="start" name="trash"></ion-icon>Delete
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
