<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
          <div *ngIf="isLoading" text-center>
              <ion-spinner color="primary"></ion-spinner>
          </div>
        <div text-center *ngIf="!isLoading && movementsMatrix.length === 0">
          <p>
            No movements found! Please create one first!
          </p>
        </div>
        <ion-list *ngIf="!isLoading && movementsMatrix.length > 0">
          <ion-list *ngFor="let arr of movementsMatrix">
            <ion-list-header color="tertiary">
              <ion-label>{{
                arr[0].date.toISOString().substring(0, 7)
              }}</ion-label>
            </ion-list-header>
            <ion-item text-wrap *ngFor="let movement of arr" 
            [routerLink]="['/', 'edit-movement', movement.id]" detail>
              <ion-label>
                <h2>{{ movement.description }}</h2>
                <p>{{ movement.categoryName }}</p>
              </ion-label>
              <ion-label position="fixed">
                <h4>{{ (movement.isExpense ? - movement.value : movement.value) | currency: 'EUR':'symbol' }}</h4>
                <p>{{ movement.date | date: 'dd-MM-yy' }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewMovement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
