<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col size="8" offset="2" >
        <ion-label>
            <h1>MyFinance © 2019</h1>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col size="12">
        This project was developed with the Ionic framework for the Mobile Applications Development course of the Computer Engineering Masters degree at ISCTE-IUL.
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col size="12">
          If you have any feedback please send an email to:
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
          <a href="mailto:tiagomartinho.soares@gmail.com"
          >tiagomartinho.soares@gmail.com</a
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
