<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-list *ngIf="categories.length > 0">
        <ion-item button *ngFor="let category of categories">
          <ion-label (click)="onCategoryPick()">
            <ion-ripple-effect></ion-ripple-effect>
            {{ category.name }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
