<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <div *ngIf="isLoading" text-center>
          <ion-spinner color="primary"></ion-spinner>
        </div>

        <div text-center *ngIf="!isLoading && accounts.length === 0">
          <p>
            No accounts found! Please create one first!
          </p>
          <br>
            <ion-button color="primary" routerLink="/new-account"
              >New Account</ion-button
            >

        </div>
        <ion-list *ngIf="!isLoading && accounts.length > 0">
          <ion-label class="ion-text-center ion-margin">
            <h1>Accounts</h1>
          </ion-label>
          <div class="border">
            <ion-item
              *ngFor="let account of accounts"
              lines="inset"
              detail
              button
              [class.selected]="compareAccounts(account)"
              (click)="onAccountSelect(account, $event.srcElement)"
            >
              <ion-label>
                {{ account.name }}
              </ion-label>
              <ion-label>
                {{ account.balance | currency: 'EUR':'symbol'}}
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="!isLoading && accounts.length > 0">
      <ion-col size="6" offset="3">
          <ion-button shape="round" fill="outline" *ngIf="!isLoading" color="medium" (click)="onEditAccount()">
              <ion-icon slot="start" name="create"></ion-icon>Edit Account</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && accounts.length > 0" class="ion-margin-top">
      <ion-col size="8" offset="2">
          <h1>
            Latest Movements
          </h1>
      </ion-col>
    </ion-row>
      
    <ion-row *ngIf="!isLoading && accounts.length > 0" class="ion-margin-top; ion-margin-bottom">
      <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="false"
        [colors]="myColors"
      >
      </canvas>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
