<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-text>
          <h4>Accounts</h4>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border" size="8" offset="2" padding>
        <ion-button>
          {{ account.name }}
        </ion-button>
        <ion-text padding>
          {{ account.value }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
